*{
    margin: 0;
    padding: 0;
}

.container-navbar {
    display: flex;
    justify-content: space-between;
  vertical-align: center;
    flex-direction: row;
    padding: 15px;
    z-index: 100;
    transition: background-color 0.3s ease;
  position: fixed;
  top: 0; 
  width: 100%; 
  min-width: 850px;
  
}

.container-right{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 40px;
 margin-right: 50px;
 vertical-align: center;
 
}

.container-left h2{

    color: white;
    font-family: JetBrains Mono;
    margin-top: 4px;
    margin-left: 40px;
    font-size: 30px;
    transition: 0.3s ease;
    cursor: pointer;
}

.container-left h2:hover{
    transform: scale(1.1);
   
}



.container-right p {
    color: rgb(213, 210, 210);
    font-family: JetBrains Mono;
    vertical-align: center;
    margin-top: 10px;
    font-size: 17px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.container-right button{
    color: rgb(0, 0, 0);
    font-family: JetBrains Mono;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.5s;
}

.container-right p:hover{

    transform: scale(1.1);
    color: white;
}

.container-right button:hover{

    box-shadow: 0 0 10px 1px rgba(24, 195, 238, 0.789) ;
    background-color: rgba(24, 195, 238, 0.789)  ;
    color: white ;
}


/* BODY */

body{
    
    background-image: url("/portfolio/images-src/bg.png");
    
}


.hotchocolate{

  height: 180px;   
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 180px;
  
  background-color: transparent;
}

.socials{

    height: 40px;
    border: 1px solid ;
    background-color:rgba(25,25,35,255) ;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition:  0.5s ease;
  
}

.socials-container a:visited{

   color: black;
   
 
}

.socials-container a{
    color: black;
}
.socials:hover{
    transform: scale(1.1);
    color: aliceblue  ;
}

.socials-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.container p {
    color: white;
    font-size: 100px;
    text-align: center;
    font-family: Inter;
    font-weight: bold;

}

.container{
    margin-top: 180px;
    height: 600px;
    
    min-width: 850px;
  
}

/* ABOUT ME SECTION */

.below-body-container{
    background-color: rgba(16,16,22,255);
    min-width: max-content;
    height: 2200px;


    min-width: 850px;
}


    


.val{
    height: 350px;
    border-radius: 40px;
    display: block;
    margin-left: 80px;
    
}

.container-about-images img{
background-color: transparent;
}

.css, .js, .html{

height: 70px;


}

.below-body-container h2, p{
    color: white;
}

.container-about{
    display: flex;
    justify-content: space-evenly;
    vertical-align: center;
    margin-top: 50px;
    
    min-width: 850px;   
}

.about-paragraph-container p {

  width: 400px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-top: 20px;
  letter-spacing: 3px;
}

.header {

    font-family: arial;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    padding-top: 40px;
}

.about-paragraph-container h2{

font-family: arial;
font-weight: bold;
font-size: 40px;

}

.container-languages{

    margin-left: 150px;
    margin-top: 20px;
    
}

.vincent{
    font-weight: bold;
    color: grey;
}


/*YOUTUBE BODY UPLOAD */

.youtube-upload P{

color: white;
text-align: center;
font-family: JetBrains Mono;
font-size: 60px;
margin-top: 50px;


}

.wrapper {
    position: relative;
    width: 50%; /* Adjust as needed */
    height: 0;
    padding-top: 28.125%; /* 16:9 aspect ratio (9 / 16 * 100) */
    margin: 0 auto; /* Center the wrapper horizontally */
  }
  
  .wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.youtube-upload h2{

    font-family: JetBrains Mono;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
}

.youtube-upload h3{

    text-align: center;
    color: grey;
    font-family: sans-serif;
    margin-top: 20px;
}


/*projects */

/*media query */
.container-projects{
    display: flex;
   justify-content: space-around;
   background-color: rgba(25,25,35,255);
vertical-align: center;
margin: 200px;
padding: 10px;
border-radius: 20px;
margin-top: 50px;

height: 200px;
flex-direction: row;

position: relative;

}



.calcu{

    height: 200px;
    left: 0;
    position: absolute;
    
}





.container-project-paragraph h1{

    text-align: end;
    color: white;
    font-family: arial;
    font-size: 50px;

  position: absolute;
  right: 0;
  margin-right: 30px;
}

.container-project-paragraph a{
    text-align: end;
    font-size: 17px;
    color: rgb(225, 217, 217);
    font-family: arial;
    
    position: absolute;
    right: 0;
    margin-top: 60px;
    margin-right: 110px;
}

.container-project-paragraph p{

    color: white;
    font-family: sans-serif;
    font-size: 20px;
    width: 400px;
text-decoration: none;


position: absolute;
right: 0;
bottom:0;
margin-bottom: 30px;
margin-right: 30px;
}


@media(max-width:1020px){

    .container-projects{
       min-width: 600px;
       margin: auto;
       width: 50%;
       margin-bottom: 40px;
       margin-top: 40px;
    }
}




.container-project-paragraph{
    text-align: end;
    margin-top: 30px;
    margin-right: -100px;
}

/*rock paper scissor   */




.container-projects1{
    display: flex;
   justify-content: space-around;
   background-color: rgba(25,25,35,255);
vertical-align: center;
margin: 200px;
padding: 10px;
border-radius: 20px;
margin-top: 50px;
height: 197px;
margin-top: -150px;

height: 200px;
flex-direction: row;

position: relative;

}


.container-project-paragraph1 h1{

    text-align: end;
    color: white;
    font-family: arial;
    font-size: 40px;
    
    position: absolute;
  right: 0;
  margin-right: 30px;
}

.container-project-paragraph1 a{
    text-align: end;
    font-size: 17px;
    color: rgb(225, 217, 217);
    font-family: arial;
    
    position: absolute;
    right: 0;
    margin-top: 60px;
    margin-right: 15px;
}

.container-project-paragraph1 p{

    color: white;
    font-family: sans-serif;
    font-size: 20px;
    width: 480px;
text-decoration: none;
margin-top: 20px;

position: absolute;
right: 0;
bottom:0;
margin-bottom: 30px;
margin-right: 30px;
}

.container-project-paragraph1{
    text-align: end;
    margin-top: 30px;
    margin-right: -100px;
}

.rock{
    background-color: transparent;
    height: 150px;
    left: 0;
    margin-left: 10px;
    position: absolute;
}



@media(max-width:1020px){

    .container-projects1{
       min-width: 600px;
       margin: auto;
       width: 50%;
       
      
    }

    .container-project-paragraph1 h1{
        font-size: 35px;
    }
    .container-project-paragraph1 a{
        font-size: 15px;
    } 
     
    .container-project-paragraph1 p{
        font-size: 20px;
        width: 450px;
    }
 
}


/* scroll bars */

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: rgba(25,25,35,255);   
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  


